<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books app</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons, .persons td {
            border: 1px solid lightgray;
            padding: 5px;
        }

    </style>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<h3>You can add new book here:</h3>
<div>
    <div class="row">
        <label for="name">Enter book name:</label>
        <input id="name" name="name" type="text"/>
        <label for="author">Enter author:</label>
        <input id="author" name="author" type="text"/>
        <label for="genre">Enter genre:</label>
        <input id="genre" name="genre" type="text"/>
        <button onClick="addBook()"> Save book</a></button>
    </div>

</div>




<h1>Books:</h1>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>


<script>
    $(function () {
        $.get('/api/books').done(function (books) {
            books.forEach(function (book) {
                $('tbody').append(`
                    <tr>
                        <td>${book.id}</td>
                        <td>${book.name}</td>
                        <td>${book.author}</td>
                        <td>${book.genre}</td>
                        <td>
                            <a href="/book/edit?id=${book.id}">Edit</a>
                            &nbsp;&nbsp;&nbsp;
                            <button onclick="deleteBook(${book.id})">Delete</button>
                        </td>on></td>
                    </tr>
                `)
            });
        })
    });

 function deleteBook(id) {
        $.ajax({
            url: '/api/book/' + id,
            type: 'DELETE',
            success: function(result, status) {
            }
        });
    }

    function addBook() {
        const name = $("#name").val();
        const author = $("#author").val();
        const genre = $("#genre").val();
        $.post('/api/book',{name: name, author: author, genre: genre}, function(result) {
            });
    }

    loadGenres();

</script>
</body>
</html>
